.header{
    font-family: palatino linotype;
    color: white;
    font-size: 4.5vw;
    text-align: center;
    background: #003262;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.corevalues{
    font-family: palatino;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: 3% 8%;
}

.corevalues .cell{
    width: 28%; 
    font-size: 3vw;
    display: inline;
    text-align: center;
}

.corevalues .cell .info{
    width: 84%;
    padding: 5% 8%;
    font-size: 1.8vw;
}

.profile{
    padding: 2vw; 

}

.profile .question{
    font-size: 2vw;
    font-style: italic;
}

.profile .answer{
    width: 40%;
    font-size: 1.8vw;
    padding-bottom: 2vw;
}


.verticalline{
    border-left: 4px solid #003262;
    height: -45vh;
}


/* Menu Bar */

ul {
    font-family: palatino linotype,serif;
    font-size: 1.7vw;
    margin-top: 1%;
    margin-bottom: -5%;
    display:inline-table;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    /*background-color: #5D576B;*/
}

li {
    display: inline;
    float: left;
    width: 13vw;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: gray;
}

.footer {
    font-family: palatino;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #003262;
    color: white;
    padding:1vw 0;
    text-align: center;
}
