.header{
    color: white;
    font-size: 300%;
    text-align: center;
    background: #2559E8;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.corevalues{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.corevalues .cell{
    font-size: 25px;
    display: inline;
    text-align: center;
    float: left;
}

.corevalues .cell .info{
    width: 250px;
    padding: 5px 40px;
    font-size: 15px;
    float: left;    
    text-align: center;
}

.verticalline{
    border-left: 4px solid blue;
    height: 200px;
}


/* Menu Bar */

ul {
    font-size: 40%;
    margin-top: 1%;
    margin-bottom: -5%;
    display:inline-table;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    /*background-color: #5D576B;*/
}

li {
    display: inline;
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: gray;
}

